Programming/Nevo/.idea/runConfigurations.xml
Programming/Nevo/.idea/dictionaries/Karl.xml
Programming/Nevo/app/gradlew
Programming/Nevo/app/gradlew.bat
Programming/Nevo/app/local.properties
Programming/Nevo/app/gradle/wrapper/gradle-wrapper.jar
Programming/Nevo/app/gradle/wrapper/gradle-wrapper.properties
Programming/Nevo/mylibrary/mylibrary.iml
Programming/Nevo/nevowatchlibrary/nevowatchlibrary.iml
