<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medcorp.nevo"
    android:installLocation="preferExternal">

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".application.ApplicationModel"
        android:allowBackup="true"
        android:theme="@style/NevoTheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.old.OldMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.old.tutorial.TutorialOneActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.old.tutorial.TutorialTwoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialSleepTrackingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialThreeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialFourActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialFiveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialTipsOneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.old.tutorial.TutorialTipsTwoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.old.PaletteActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.old.OTAActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.old.HistoryActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".ble.ble.NevoBTService"
            android:enabled="true" />
        <service
            android:name=".ble.controller.SyncControllerImpl$LocalService"
            android:enabled="true" />
        <!--new feature for notification, based on API 18 -->
        <service
            android:name=".ble.notification.NevoNotificationListener"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
