<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nevowatch.nevo"
    android:versionCode="101"
    android:versionName="1.0.0" >

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".TutorialActivity.TutorialOneActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TutorialActivity.TutorialTwoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TutorialActivity.TutorialThreeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TutorialActivity.TutorialFourActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".ble.ble.NevoBTService"
            android:enabled="true" />
        <!--new feature for notification, based on API 18 -->
        <service
            android:name="com.nevowatch.nevo.ble.notification.NevoNotificationListener"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
